extends ../../layouts/default.pug

block main 
  if(product.title)
    h1(class="mb-4") #{product.title}

  .row 
    .col-6 
      if(product.thumbnail)
        div(class="mb-4") 
          img(
            image-detail-product
            src=product.thumbnail 
          )
    
    .col-6 
      if(product.price)
        div(class="mb-4") Giá: <b>#{product.price.toLocaleString('vi-VN')} ₫</b>

      if(product.discountPercentage)
        div(class="mb-4") Giảm giá: <b>#{product.discountPercentage}%</b>

      if(product.stock)
        div(class="mb-4") Còn lại: <b>#{product.stock}</b>

      if(product.availabilityStatus)
        div(class="mb-4")
          span Trạng thái: 
          if (product.availabilityStatus === "In Stock")
            span(class="badge badge-success") Hoạt động
          else 
            span(class="badge badge-danger") Dừng hoạt động

      if(product.position)
        div(class="mb-4") Vị trí: <b>#{product.position}</b>

      if(product.description)
        div(class="mb-4") !{product.description}
        //- nếu dùng #{} thì sẽ hiện lên mã html nên ta phải thay bằng dấu !{}

  a(
    href=`${prefixAdmin}/products/edit/${product.id}`
    class="btn btn-warning"
  ) Chỉnh sửa 

  script(src="/admin/js/product.js") 