extends ../../layouts/default.pug
include ../../mixins/filter-status.pug
include ../../mixins/search-text.pug
include ../../mixins/pagination.pug
include ../../mixins/form-change-multi.pug
include ../../mixins/show-alert.pug
include ../../mixins/sort.pug


block main 
  +alert-success(5000)
  +alert-error(5000)

  h1 Danh Sách Sản Phẩm

  .card.mb-3 
    .card-header Bộ lọc và Tìm kiếm
    .card-body
      .row 
        .col-6
          //- sử dụng mixins
          +fiter-status(filterStatus)

        .col-6 
          +search-text(keyword)
  
  .card.mb-3 
    .card-header Sắp xếp 
    .card-body 
      .row 
        .col-3 
          +sort()

  .card.mb-3 
    .card-header Danh Sách
      .card-body
        .row 
          .col-8 
            +form-change-multi(`${prefixAdmin}/products/change-multi?_method=PATCH`)
          .col-4.text-right  
            if(role.permissions.includes("products_create"))
              a(
                href=`${prefixAdmin}/products/create`
                class="btn btn-outline-success "
              ) + Thêm mới

        table(
          class="table table-hover table-sm"
          checkbox-multi
        )
          thead 
            tr 
              th 
                input(type="checkbox" name="checkall")
              th STT 
              th Hình ảnh 
              th Tiêu đề
              th Giá 
              th Vị trí 
              th Trạng thái 
              th Hành động

          tbody
            each item,index in products 
              tr
                td 
                  input(
                    type="checkbox"
                    name="id"
                    value=item.id 
                  )
                td #{pagination.limitItems*(pagination.currentPage - 1) + (index + 1)}
                td 
                  img(
                    src=item.thumbnail, 
                    alt=item.title
                    width ="100px"
                    height="auto"
                  )
                td #{item.title}
                td #{item.price}$
                td 
                  input(
                    type="number"
                    value=item.position 
                    name="position"
                    min="1"
                    style="width: 60px"
                  )
                td
                  if(role.permissions.includes("products_edit"))
                    if(item.availabilityStatus == "In Stock")
                      //- "javascript:;" chức năng của thẻ a bây giờ sẽ được biểu diễn trong file js
                      a(
                        href="javascript:;"
                        data-status=item.availabilityStatus
                        data-id=item.id 
                        button-change-status 
                        class="badge badge-success"
                      ) Hoạt động 
                    else 
                      a(
                        href="javascript:;"
                        data-status=item.availabilityStatus
                        data-id=item.id 
                        button-change-status 
                        class="badge badge-danger"
                      ) Dừng hoạt động
                  else 
                    if(item.availabilityStatus == "In Stock")
                      a(
                        data-status=item.availabilityStatus
                        data-id=item.id 
                        class="badge badge-success"
                      ) Hoạt động 
                    else 
                      a(
                        data-status=item.availabilityStatus
                        data-id=item.id 
                        class="badge badge-danger"
                      ) Dừng hoạt động
                td 
                  a(
                    href=`${prefixAdmin}/products/detail/${item.id}`
                    class="btn btn-secondary btn-sm"
                  ) Chi tiết
                  if(role.permissions.includes("products_edit"))
                    a(
                      href=`${prefixAdmin}/products/edit/${item.id}`
                      class="btn btn-warning btn-sm"
                      button-edit
                    ) Sửa
                  if(role.permissions.includes("products_delete"))
                    button(
                      class="btn btn-danger btn-sm ml-1"
                      button-delete
                      data-id=item.id
                    ) Xóa
  
  //- 1h25 bài 21 phân trang
  +pagination(pagination)
  
  //- mục đích để tạo form này để khi submit
    nó sẽ gửi lên cái form có đường dẫn trong phần action
  form(
    action=""  
    method="POST"
    id="form-change-status"
    data-path=`${prefixAdmin}/products/change-status`
  ) 

  form(
    action="" 
    method="POST"
    id="form-delete-item"
    data-path=`${prefixAdmin}/products/delete`
  ) 

  script(src="/admin/js/product.js") 