extends ../../layouts/default.pug
include ../../mixins/box-head.pug


block main 
  .container.my-3 
    .row 
      .col-12 
        +box-head("Đặt hàng thành công")

    .row 
      .col-12 
        div(class="alert alert-success")
          | Chúc mừng bạn đã đặt hàng thành công! Chúng tôi sẽ xử lý đơn hàng trong khoảng thời gian sớm nhất. 

<<<<<<< HEAD
    if(guest)
=======
    if(order)
>>>>>>> daedc8515f1a6e9d7a566ff5f73d85a1007f39dd
      .row 
        .col-12 
          h4(class="mb-2") Thông tin cá nhân 
          table(class="table table-bordered")
            tbody 
              tr 
                td Họ tên 
                td 
<<<<<<< HEAD
                  b #{guest.userInfo.fullName} 
              tr 
                td Số điện thoại 
                td 
                  b #{guest.userInfo.phone}
              tr 
                td Địa chỉ 
                td 
                  b #{guest.userInfo.address}

      .row 
        .col-12 
          if (guest.products.length > 0)
=======
                  b #{order.userInfo.fullName} 
              tr 
                td Số điện thoại 
                td 
                  b #{order.userInfo.phone}
              tr 
                td Địa chỉ 
                td 
                  b #{order.userInfo.address}

      .row 
        .col-12 
          if (order.products.length > 0)
>>>>>>> daedc8515f1a6e9d7a566ff5f73d85a1007f39dd
            h4(class="mb-2") Thông tin đơn hàng 
            table(class="table table-bordered")
              thead 
                tr 
                  th STT
                  th Ảnh 
                  th Tên 
                  th Giá 
                  th Số lượng 
                  th Tổng tiền 
              tbody 
<<<<<<< HEAD
                each item, index in guest.products
=======
                each item, index in order.products
>>>>>>> daedc8515f1a6e9d7a566ff5f73d85a1007f39dd
                  tr 
                    td #{index + 1}
                    td 
                      img(src=item.productInfo.thumbnail, alt=item.productInfo.title width="80px")
                    td #{item.productInfo.title}
                    td #{item.productInfo.priceNew}$
                    td #{item.quantity}
                    td #{item.totalPrice}$
            
<<<<<<< HEAD
            h3(class="text-right") Tổng đơn hàng: #{guest.totalPrice}$            
=======
            h3(class="text-right") Tổng đơn hàng: #{order.totalPrice}$            
>>>>>>> daedc8515f1a6e9d7a566ff5f73d85a1007f39dd
