include ../mixins/sub-menu.pug

//-header
header.header
  //- Tái sử dụng độ rộng phần từ các phần
  .container
    .header-top
      //- div1
      .header-top__logo
        a(href='/')
          img(src= settingGeneral.logo, alt= settingGeneral.websiteName)
      //- div2
      .header-top__middle
        //- search
        form.search-form(
          action='/search'
           method='GET'
          )
          input.form-control(
            type='search'
            name='keyword'
            class="form-control"
            placeholder='Tìm kiếm sản phẩm...'
          )
          button.header-top__search(type='submit')
            i.fa-solid.fa-magnifying-glass
        //- Hotline
        a.header-top__hotline(href='#hotlineModal')
          i.fa-solid.fa-phone
          span.hotline-text HOTLINE
      //- User Actions
      .header-top__actions
        a.user-action__item(href='/user/info')
          i.fa-solid.fa-user
        a.user-action__item.cart-item(href='/cart')
          .cart-handle
          div 0
    .header-bottom
      //- Main Navigation
      nav.header-bottom__nav
        ul.main-nav
          li.main-nav__item
            a(href='/news') Tin tức
          li.main-nav__item
            -const pathProduct = "/products"
            a(href=pathProduct)
              | Sản phẩm
              i.fa-solid.fa-caret-down(style='\
              margin: 2px;\
              ')
            +sub-menu(layoutProductCategory, pathProduct) 
            //- biến layoutProductCategory là biến toàn cục ở file middlewares

          li.main-nav__item
            a(href='#') Hệ thống cửa hàng
          li.main-nav__item
            a.util-link(href='#')
              img(src='/images/track.png' alt='track')
              | Theo dõi sản phẩm
          
      //-User account
      ul.user-account
        if(user)

          a(href="/user/logout") Đăng xuất
        else
          li 
            a(href="/user/login") Đăng nhập 
          li
            a(href="/user/register") Đăng ký 


#hotlineModal.hotline-modal
  a.modal-overlay(href='#')
  .hotline-list.active
    a.modal-close(href='#')
      i.fa-solid.fa-xmark
    .hotline-item
      .branch-info
        h3
          | Cơ sở 1: Cầu Giấy,Hà Nội 
          span Hotline: 0838010188
      a.call-btn(href='tel:0838010188')
        img(src='images/icon-hotline.webp' alt='hotline')
        span Gọi ngay
    .hotline-item
      .branch-info
        h3
          | Cơ sở 2: MỸ Đình,Hà Nội 
          span Hotline: 0838010188

      a.call-btn(href='tel:0814010188')
        img(src='images/icon-hotline.webp' alt='hotline')
        span Gọi ngay
    .hotline-item
      .branch-info
        h3
          | Cơ sở 3: Hà Đông,Hà Nội 
          span Hotline: 0815010188
      a.call-btn(href='tel:0814010188')
        img(src='images/icon-hotline.webp' alt='hotline')
        span Gọi ngay