extends ../../layouts/default.pug
include ../../mixins/show-alert.pug
include ../../mixins/select-tree.pug

block main 
  +alert-success(5000)
  +alert-error(5000)
  if(role.permissions.includes("news_edit"))

    h1(class="mb-4") Chỉnh sửa tin tức

    form(
      action=`${prefixAdmin}/news/edit/${news.id}?_method=PATCH`
      id="form-edit-news"
      method="POST"
      enctype="multipart/form-data" 
    )
      //- phương thức enctype dùng để sử dụng thư viện "multer"
      div(class="form-group")
        label(for="title") Tiêu đề
        input(
          type="text"
          class="form-control"
          id="title"
          name="title"
          value=news.title
        )
      div(class="form-group")
        label(for="news_category_id") Danh mục 
        select(
          name="news_category_id"
          id="news_category_id"
          class="form-control"
        )
          option(value="") -- chọn danh mục 
            if(category)
              +select-tree(category, 1, news.news_category_id)
      //- featured
      div(class="form-group form-check form-check-inline")
        input(
          type="radio"
          class="form-check-input"
          id="featured1"
          name="featured"
          value="1"
          checked=(news.featured == "1" ? true : false)
        ) 
        label(for="statusActive" class="form-check-label") Nổi bật
      div(class="form-group form-check form-check-inline")
        input(
          type="radio"
          class="form-check-input"
          id="featured0"
          name="featured"
          value="0"
          checked=(news.featured == "0" ? true : false)
        ) 
        label(for="statusInActive" class="form-check-label") Không
      //- prioritize
      div(class="form-group form-check form-check-inline")
        input(
          type="radio"
          class="form-check-input"
          id="prioritize1"
          name="prioritize"
          value="1"
          checked=(news.prioritize == "1" ? true : false)
        ) 
        label(for="statusActive" class="form-check-label") Tin chính
      div(class="form-group form-check form-check-inline")
        input(
          type="radio"
          class="form-check-input"
          id="prioritize0"
          name="prioritize"
          value="0"
          checked=(news.prioritize == "0" ? true : false)
        ) 
        label(for="statusInActive" class="form-check-label") Không
      div(class="form-group")
        label(for="desc") Mô tả
        textarea(
          class="form-control textarea-mce"
          id="desc"
          name="description"
          rows="5"
        ) #{news.description}
      //- image
      div(
        class="form-group"
        upload-image 
      )
        label(for="thumbnail") Ảnh
        input(
          type="file"
          class="form-control-file"
          id="thumbnail"
          name="thumbnail"
          accept="image/*"
          upload-image-input
        )
        div(class="upload-image")
          img(
            src=news.thumbnail
            upload-image-preview
          )
          i(
            class="fa-solid fa-x hide"
            icon-delete-image
          )
      div(class="form-group")
        label(for="position") Vị trí
        input(
          type="number"
          class="form-control"
          id="position"
          name="position"
          placeholder="tự động tăng"
          min="1"
          value=news.position
        )
      div(class="form-group form-check form-check-inline")
        input(
          type="radio"
          class="form-check-input"
          id="statusActive"
          name="availabilityStatus"
          value="In Stock"
          checked=(news.availabilityStatus == "In Stock" ? true : false)
        ) 
        label(for="statusActive" class="form-check-label") Hoạt động 
      div(class="form-group form-check form-check-inline")
        input(
          type="radio"
          class="form-check-input"
          id="statusInActive"
          name="availabilityStatus"
          value="Low Stock"
          checked=(news.availabilityStatus == "Low Stock" ? true : false)
        ) 
        label(for="statusInActive" class="form-check-label") Dừng hoạt động 
      
      div(class="form-group")
        button(
          type="submit"
          class="btn btn-primary"
        ) Cập nhật

    script(src="/admin/js/product.js") 