extends ../../layouts/default.pug  
include ../../mixins/box-head.pug

//- bắt buộc phải cách 4 dấu cách dưới block main không là lỗi
block main 
  .container.my-3 
    .row 
      .col-12 
        +box-head("Danh sách sản phẩm")

    .row 
      //- lọc qua từng phần tủ trong database
      each item in products
        //- trang có 12 cột thì 1 khối này chiếm 4 cột trong giao diện
        .col-4.mb-3 
          .product-item 
            .inner-image 
              img(
                src=item.thumbnail,
                alt=item.title)
            .inner-content 
              h3.inner-title #{item.title}
              .inner-price-new #{item.priceNew}$
              .inner-price-old #{item.price}$
              .inner-discount -#{item.discountPercentage}%    