mixin form-change-multi(path)
  //-khác với thay đổi một sản phẩm, ta sẽ lưu các id thành dạng string 
  //- và lưu trữ nó trong ô input chứ ko lưu thẳng lên url 
  //- nên ta để đường dẫn url ở phần action luôn
  form(
    action=path 
    method="POST"
    form-change-multi 
  )
    .d-flex.align-items-start 
      .form-group 
        select(name="type" class="form-control")
          option(disabled selected) -- Chọn hành động --
          option(value="In Stock") Hoạt động
          option(value="Low Stock") Dừng hoạt động
          option(value="delete-all") Xóa tất cả
          option(value="change-position") Thay đổi vị trí
          option(value="delete-featured") Xóa nổi bật
      .form-group 
        input(
          type="text"
          name="ids"
          value=""
          class="form-control d-none"
        )
      button(type="submit" class="btn btn-primary") Áp dụng


mixin change-status-orders(path)
  form(
    action=path
    method="POST"
    order-form-change-multi
  )
    .row
      .col-4
        .form-group
          select(name="status" class="form-control")
            option(disabled selected) -- Chọn hành động --
            option(value="Pending") Chờ xử lý
            option(value="Confirmed") Đã xác nhận
            option(value="Shipping") Đang giao hàng
            option(value="Delivered") Đã giao thành công
            option(value="Cancelled") Hủy đơn hàng
        .form-group 
          input(
            type="text"
            name="ids"
            value=""
            class="form-control d-none"
          )
      .col-2
        button(type="submit" class="btn btn-primary") Cập nhật


mixin change-status-reviews(path)
  form(
    action=path
    method="POST"
    reviews-form-change-multi
  )
    .row
      .col-4
        .form-group
          select(name="type" class="form-control")
            option(disabled selected) -- Chọn hành động --
            option(value="active") Đã duyệt
            option(value="inactive") Chưa duyệt
            option(value="delete-all") Xóa tất cả
        .form-group 
          input(
            type="text"
            name="ids"
            value=""
            class="form-control d-none"
          )
      .col-2
        button(type="submit" class="btn btn-primary") Cập nhật


mixin change-status-user(path)
  form(
    action=path
    method="POST"
    reviews-form-change-multi
  )
    .row
      .col-4
        .form-group
          select(name="type" class="form-control")
            option(disabled selected) -- Chọn hành động --
            option(value="active") Hoạt động
            option(value="inactive") Dừng hoạt động
            option(value="delete-all") Xóa tất cả
        .form-group 
          input(
            type="text"
            name="ids"
            value=""
            class="form-control d-none"
          )
      .col-2
        button(type="submit" class="btn btn-primary") Cập nhật