extends ../../layouts/default.pug 
include ../../mixins/news-layout.pug
include ../../mixins/moment.pug

block main 
  .news-detail
    .container.my-5
      .row 
        .col-6
          .inner-thumb
            img(src=news.thumbnail, alt=news.title)
        .col-6
          h1(class="inner-title") #{news.title}

          if(news.category)
            div(class="inner-category")
              span Danh mục: 
              a(href=`/news/${news.category.slug}`) #{news.category.title}

    .container.my-5 
      .row 
        .col-12 
          .inner-desc !{news.description}

    .container.my-5
      h3.text-uppercase.font-weight-bold.mb-4.pb-2 Bài viết liên quan

      .col-md-12.products-list
        +news-grid(relatedNews)
