extends ../../layouts/default.pug
include ../../mixins/form-change-multi.pug
include ../../mixins/sort.pug
include ../../mixins/show-alert.pug
include ../../mixins/pagination.pug
include ../../mixins/filter-status.pug
include ../../mixins/search-text.pug

block main
  //- --- KHỐI THỐNG KÊ ---
  .row.mb-4
    .col-12
      .card-statistic-container
        //- 1. Chờ xác nhận
        .card-stat-item.item-pending
          .card-icon
            i.fa-solid.fa-box-open
          .card-content
            span.card-title Chờ xác nhận
            span.card-value #{statistic.pending}

        //- 2. Đã xác nhận
        .card-stat-item.item-confirmed
          .card-icon
            i.fa-solid.fa-check-to-slot
          .card-content
            span.card-title Đã xác nhận
            span.card-value #{statistic.confirmed}

        //- 3. Đang giao
        .card-stat-item.item-shipping
          .card-icon
            i.fa-solid.fa-truck-fast
          .card-content
            span.card-title Đang giao
            span.card-value #{statistic.shipping}

        //- 4. Hoàn thành
        .card-stat-item.item-delivered
          .card-icon
            i.fa-solid.fa-circle-check
          .card-content
            span.card-title Hoàn thành
            span.card-value #{statistic.delivered}

        //- 5. Đã hủy
        .card-stat-item.item-cancelled
          .card-icon
            i.fa-solid.fa-circle-xmark
          .card-content
            span.card-title Đã hủy
            span.card-value #{statistic.cancelled}
  .card.mb-3 
    .card-header Bộ lọc 
    .card-body
      .row 
        .col-3
          //- sử dụng mixins
          +sort()

        .col-9
          +order-filter-status(filterOrderStatus)
  
  .card.mb-3 
    .card-header Tìm kiếm 
    .card-body 
      .row
        .col-6
          +search-text-order(keyword)

  .card.mb-3
    .card-header Danh sách đơn hàng
    .card-body
      //- Nếu đơn hàng đã giao thành công hoặc đã hủy thì không cho sửa nữa (Optional)
      if (orders.orderStatus === 'Delivered' || orders.orderStatus === 'Cancelled')
        div(class="alert alert-secondary") Đơn hàng này đã hoàn tất hoặc bị hủy. Không thể thay đổi trạng thái.
      else
        +change-status-orders(`${prefixAdmin}/orders/change-multi?_method=PATCH`)

      table(class="table table-hover table-borderless align-middle" order-checkbox-multi)
        thead.bg-light
          tr
            th 
              input(type="checkbox" name="checkall")
            th STT
            th Mã đơn
            th Khách hàng
            th Tổng tiền
            th Vị trí 
            th Trạng thái
            th Ngày tạo
            th Hành động

        tbody
          each item, index in orders
            tr
              td 
                input(
                  type="checkbox"
                  name="id"
                  value=item.id 
                )
              td #{pagination.limitItems*(pagination.currentPage - 1) + (index + 1)}
              td #{item.orderCode}
              td
                div <b>#{item.shippingAddress.fullName}</b>
                div #{item.shippingAddress.phone}
              td 
                b #{item.totalAmount.toLocaleString()} đ
              td 
                input(
                  type="number"
                  value=item.position 
                  name="position"
                  min="1"
                  style="width: 60px"
                )
              td
                if(item.orderStatus == "Pending")
                  span(class="badge badge-pending") Chờ xác nhận
                else if(item.orderStatus == "Confirmed")
                  span(class="badge badge-confirmed") Đã xác nhận
                else if(item.orderStatus == "Shipping")
                  span(class="badge badge-shipping") Đang giao
                else if(item.orderStatus == "Delivered")
                  span(class="badge badge-delivered") Đã giao
                else
                  span(class="badge badge-cancelled") Đã hủy

              td #{item.createdAt.toLocaleString()}
              
              td
                a(
                  href=`/admin/orders/detail/${item.id}`
                  class="btn btn-secondary btn-sm"
                ) Chi tiết

                if(role.permissions.includes("products_delete"))
                  button(
                    class="btn btn-danger btn-sm ml-1"
                    button-delete
                    data-id=item.id
                  ) Xóa
  
  +pagination(pagination)

  form(
    action="" 
    method="POST"
    id="form-delete-item"
    data-path=`${prefixAdmin}/orders/delete`
  ) 

  script(src="/admin/js/order.js") 