mixin news-item-main(item)
  if item.prioritize == 1
    a(href=`/news/detail/${item.slug}`)
      .news-prioritize-item
        .inner-image
          img(
            src=item.thumbnail, 
            alt=item.title, 
            class="img-fluid rounded"
          )
        .inner-content
          h3.inner-title
            a(href=`/news/detail/${item.slug}`) #{item.title}
          .inner-news-date
            i.fa-regular.fa-clock
            span 
              +formatDate(item.createAt)
          p.inner-news-short-main !{item.description.substring(0, 300) + '[...]'}

  else
    a(href=`/news/detail/${item.slug}`)
      .news-item-main
        .inner-image
          img(
            src=item.thumbnail, 
            alt=item.title, 
            class="img-fluid rounded",
          )
        .inner-content
          h3.inner-title
            a(href=`/news/detail/${item.slug}`) #{item.title}
          .inner-news-date
            i.fa-regular.fa-clock
            span 
              +formatDate(item.createAt)


mixin news-item(item)
  .news-item
    a(href=`/news/detail/${item.slug}`)
      .inner-image
        img(
          src=item.thumbnail, 
          alt=item.title, 
          class="img-fluid rounded",
        )
      .inner-content
        h3.inner-title
          a(href=`/news/detail/${item.slug}`) #{item.title}
        .inner-news-date
          i.fa-regular.fa-clock
          span 
            +formatDate(item.createAt)
        - const plainDescription = item.description.replace(/<[^>]*>?/gm, '')
        p.inner-news-short !{plainDescription.substring(0, 200) + '[...]'}

mixin news-item-home(item)
  .news-item-home
    a(href=`/news/detail/${item.slug}`)
      .inner-image
        img(
          src=item.thumbnail, 
          alt=item.title, 
          class="img-fluid rounded",
        )
      .inner-content
        h3.inner-title
          a(href=`/news/detail/${item.slug}`) #{item.title}
        .inner-news-date
          i.fa-regular.fa-clock
          span 
            +formatDate(item.createAt)
        - const plainDescription = item.description.replace(/<[^>]*>?/gm, '')
        p.inner-news-short !{plainDescription.substring(0, 200) + '[...]'}