.sider 
  .inner-menu 
    ul 
      li 
        a(href=`${prefixAdmin}/dashboard`) <i class="fa-solid fa-chart-pie"></i>  Tổng Quan 

      if(role.permissions.includes("products-category_view") && role.permissions.includes("products_view") && role.permissions.includes("reviews_view"))
        div(class="products") SẢN PHẨM
        if(role.permissions.includes("products-category_view"))
          li 
            a(href=`${prefixAdmin}/products-category`) <i class="fa-solid fa-list"></i> Danh Mục 
        if(role.permissions.includes("products_view"))
          li 
            a(href=`${prefixAdmin}/products`) <i class="fa-solid fa-table"></i> Sản Phẩm 
        if(role.permissions.includes("reviews_view"))
          li 
            a(href=`${prefixAdmin}/reviews`) <i class="fa-solid fa-comment"></i> Đánh giá

      if(role.permissions.includes("orders_view"))
        div(class="products") THANH TOÁN
        li 
          a(href=`${prefixAdmin}/orders`) <i class="fa-solid fa-box"></i> Đơn hàng

      if(role.permissions.includes("news-category_view") && role.permissions.includes("news_view"))
        div(class="products") TIN TỨC
        if(role.permissions.includes("news-category_view"))
          li 
            a(href=`${prefixAdmin}/news-category`) <i class="fa-solid fa-list"></i> Danh Mục 
        if(role.permissions.includes("news_view"))
          li 
            a(href=`${prefixAdmin}/news`) <i class="fa-solid fa-newspaper"></i> Tin Tức 

      if(role.permissions.includes("roles_view") && role.permissions.includes("roles_permission"))
        div(class="products") PHÂN QUYỀN
        if(role.permissions.includes("roles_view"))
          li 
            a(href=`${prefixAdmin}/roles`) <i class="fa-solid fa-users"></i> Nhóm quyền
        if(role.permissions.includes("roles_permission"))
          li 
            a(href=`${prefixAdmin}/roles/permission`) <i class="fa-solid fa-user-shield"></i> Phân quyền

      if(role.permissions.includes("user_view"))
        div(class="products") NGƯỜI DÙNG
        if(role.permissions.includes("user_view"))
          li 
            a(href=`${prefixAdmin}/user`) <i class="fa-solid fa-user-cog"></i> Tài Khoản
          
      div(class="products") CÀI ĐẶT
      if(role.permissions.includes("account_view"))
        li 
          a(href=`${prefixAdmin}/accounts`) <i class="fa-solid fa-user-cog"></i> Admin
      li 
        a(href=`${prefixAdmin}/settings/general`) <i class="fa-solid fa-cog"></i> Cài đặt chung 